<div class="container pt-5">
  <h1 class="mb-5">Действие с пользователем</h1>
  {{#with user}}
    <div class="card mb-3 bg-secondary" style="max-width: 100%; border: none">
      <div class="row g-0">
        <div class="col-md-4">
          <img src={{avatar}} class="w-100" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body text-light">
            <h5 class="card-title">Имя: {{name}}</h5>
            {{#if isBlocked}}
              <p class="card-text"><small class="text-danger">Пользователь забанен</small></p>
            {{/if}}
          </div>
          <h3 class="p-3">Арендовынные книги: </h3>
          <ol class="list-group list-group-numbered m-3">
            {{#each arendBooks}}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{name}}</div>
                </div>
              </li>
            {{else}}
              <h4 class="text-warning">Нету арендованных книг</h4>
            {{/each}}
          </ol>
          <div class="p-3">
            <a href="/users/admin" class="btn btn-warning">Назад</a>
          </div>
          {{#if isBlocked}}
            <div class="p-3">
              <a href="{{_id}}/unblock" class="btn btn-warning">Разбанить</a>
            </div>
          {{else}}
            <div class="p-3">
              <a href="{{_id}}/block" class="btn btn-danger">Забанить</a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/with}}
</div>